.emoji-card {
  margin: 10px;
}
.emoji-button {
  background-color: #ffffff33;
  height: 130px;
  width: 130px;
  border: 3px solid #ffffff30;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.emoji-image {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 767px) {
  .emoji-image {
    height: 70px;
    width: 70px;
  }
  .emoji-button {
    height: 130px;
    width: 130px;
    border-radius: 20px;
  }

  .emoji-card {
    margin: 10px;
  }
}
